.list-bar {
    height: 40px;
    background-color: #055b92;
}

.computer-list {
    display: flex;

    .list {
        width: 260px;
        background-color: black;

        .list-item {
            border: 1px solid rgb(69, 69, 69);
            padding: 10px;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            display: flex;

            &:hover {
                cursor: pointer;
                color: rgb(224, 173, 78);
            }
        }
    }

    .image {
        background-color: white;
        flex: 1;
    }
}

.item-box {
    .item-content {
        display: grid;
        grid-template-columns: repeat(5, 18.5%);
        gap: 2%;

        .item {
            min-height: 400px;
            background-color: #545353;

            img {
                min-height: 200px;
            }

        }
    }
}