.content-box {
    margin-top: 100px;
    overflow: auto;

    .content {
        min-height: calc(100vh - 100px - 200px);
        display: flex;
        justify-content: space-between;
        background-color: rgb(59, 141, 141);
    }
}