.login-form {
    position: relative;
    width: 400px;
    min-height: 200px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(221, 183, 112);
    box-shadow: 5px 5px 5px rgb(68, 68, 68);
    margin: 20vh auto 0;
    display: flex;
    flex-direction: column;

    label {
        text-align: left;
        margin: 10px 0;
    }

    input {
        height: 30px;
        font-size: 14px;
        padding: 0 10px;
        outline: none;
        border: none;
        border-radius: 5px;
    }

    span {
        color: red;
        text-align: left;
    }

    button {
        height: 30px;
        margin: 10px auto;
        width: max-content;
        padding: 0 10px;
        border-radius: 5px;
        border: none;

        &:hover {
            cursor: pointer;
            box-shadow: 3px 3px 3px rgb(61, 61, 61);
        }
    }

    p {
        &:hover {
            cursor: pointer;
            text-decoration: underline;
            color: blue;
        }
    }
}